.proy {
  background: linear-gradient(
    0deg,
    rgba(121, 169, 209, 1) 0%,
    rgba(0, 88, 148, 1) 64%,
    rgba(2, 3, 0, 1) 100%
  );
  height: auto;
  min-height: 90vh;
  padding: 0px;
}
.botonera {
  margin: 0px 50px 0px 50px;
}
.button2 {
  cursor: pointer;
  background-color: rgba(247, 243, 149, 0.9);
  border: none;
  color: black;
  padding: 2.5px 10px;
  height: 25px;
  position: relative;
  font-family: monospace;
  text-align: center;
  font-weight: bold;
  margin: 5px 3px;
  border-radius: 5px;
  transition: 100ms;
}
.button2:active {
  transform: scale(0.95);

  pointer-events: all;
}
.h1project {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

#projects {
  padding: 20px 0px 20px 0px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 850px) {
  #projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 60px;
  }
  h1 {
    font-size: 3rem;
  }
  .h1project {
    width: auto;
    margin-bottom: 10px;
  }
}
